.card-title{
    text-transform: uppercase;
}

.card-content-list label{
  color: #fff;
  font-size: 20px;
  width:4em;
}
nav{
  background-color: #003cff;
}
nav .nav-wrapper{
  width: 80%;
  margin: auto;
}
.page-footer{
  background-color: #003cff;
}
.card.blink{
  background-color: #003cff !important;
}
/* img{
  width: 98%;
  height: 850px;  
} */
.rowimg{
  text-align: center;
}